#container {
    margin-left:10px;
    margin-left: 1em;
    margin-top: 1em;
}

#hexKey, #binKey {
    font-size: 15px;
    font-family: monospace;
    max-width: 580px;
    overflow-wrap: break-word;
}

h1 {
    margin-bottom:1px;
}


button {
    background-color: #4CAF50;
    border: 1px solid #1b4d75;
    border-radius: 2px;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: -2em;
    margin-left: 29em;
}

button:hover {
    background-color: #2b902f;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 26px;
  text-decoration: none;
  font-size: 25px;
  color: #eaeaea;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  color: #ffffff;
  font-weight: bold;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar h1, h2, h3, h4 {
    color: #0dffb2;
    margin-bottom: 5px;
    margin-top: 10px;
}

.sidebar form {
    margin-left:1em;
}

/* The button used to open the sidebar */
.openbtn {
  position: absolute;
  right: 0.5em;
  top: 2.5em;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  background-color: #000000c4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #444;
  background-color: #000;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  /*border: 2px dotted blue;
  border: 1px solid blue;*/
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

label {
    /* padding-top: 3px; */
}

#sidebar label {
    color: white;

}

form {
    margin-left:1em;
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    padding: 20px;
    background-color: #f44336;
    color: white;

    visibility: hidden;
    /* min-width: 250px; */
    min-width: 80%;
    /* margin-left: -125px; */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 10%;
    bottom: 50px;
    background-color: #f44336;
    color: white;

    margin-left: 0%;
    font-weight:bold;

        text-shadow: 2px 2px #000000;

    padding-top: 1px;

    margin-right: 15%;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar.auto {
    visibility: visible; /* Show the snackbar */
  }

  #snackbar h2 {
      color:white;
    text-shadow: 3px 3px #000000;
  }


  #snackbar a {
    color: #00ffae;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 3px;
    padding-right: 3px;

    padding-right: 5px;
    padding-bottom: 3px;
    margin-top: 5px;

    margin-top: 8px;
    margin-right: -8px;
  }
  
  .closebtn:hover {
    color: white;
  }

  .snackclose:hover {
    background: #ca2424;
  }

  #randomizeButton {
    margin-top: -2.5em;
  }


  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    min-width: 600px;
    background-color: #f0f0f0;
  }
  
  html, body, input {
    color: #000000;
    font-size: 1.125rem;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  input {
    line-height: 1.5;
  }
  
  a {
    color: #a84646;
  }
  
  header a {
    font-weight: bold;
    color: #12f1be;
  }

  header {
    padding-bottom: 1.2em;
    text-shadow: 1px 1px #000000;

    padding-top: 1em;
    text-align: center;
  }
  
  header h1 {
    color: #f1fdff;
  }
  
  header nav ul {
    list-style: none;
    font-size: .9em;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 8px;
  }
  
  header nav ul li.field {
    margin-left: 32px;
  }
  
  header nav ul li:first-child {
    margin-left: 0;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  header nav ul li a.active {
    font-weight: 900;
    color: #000000;
    font-weight: bolder;
    color: #18ff61;
    color: #caffdb;
    color: #bcf2ff;
    padding-bottom:12px;
  }
  
  #num-type {
      margin:0.3em;
  }
  footer {
    padding: 20px 60px;
    font-size: 18px;
  }
  
  main {
    padding: 26px 0;
    text-align: center;
    background-color: #ffffff;
  }
  
  label {
    color: #000000;
  }
  
  main .box {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  
  main #plot {
    width: 600px;
    height: 600px;
  }
  
  main #form {
    margin: 2em 1em 0 1em;
  }
  
  main #summary {
    margin: .7em .35em 0 .35em;
  }
  
  main #form .parameters p {
    display: inline-block;
    margin: 7px 5px 7px 0;
    text-align: right;
    width: 6em;
  }
  
  main #form .parameters .placeholder {
    display: inline-block;
    width: 5.8em;
    margin: 0 24px 0 0;
  }
  
  main #form .parameters .parameter {
    display: inline-block;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
  }
  
  main #form .parameters .parameter.curve-coefficient {
    background-color: #c2e0f8;
  }
  
  main #form .parameters .parameter.point-coordinate,
  main #form .parameters .parameter.multiplication-factor {
    background-color: #edd078;
  }
  
  main #form .parameters .parameter.result {
    background-color: #dd6767;
  }
  
  main #form .parameters .parameter label {
    display: inline-block;
    margin: 0 5px;
    height: 100%;
    width: 0.8em;
    text-align: center;
  }
  
  main #form .parameters .parameter input {
    display: inline-block;
    margin: 1px;
    padding: 1px 5px;
    width: 5em;
    border: 0 none;
  }
  
  path { 
    stroke-width: 3;
    fill: none;
  }
  
  .steelblue {
    stroke: steelblue;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    stroke-width:3;
  
    shape-rendering: crispEdges;
  }
  
  
  .domain { 
    stroke: #545454;
    stroke-width: 2;
    fill: none;
  }
  
  
  .grayLine line {
    stroke: #eaeaea;
  }
  
  .blackLine path {
    stroke: black;
    stroke-width:3;
  }
  
  path.yellowLine {
    stroke: #edd078;
    stroke-width:3;
  }
  
  path.redLine {
    stroke: #dd6767;
    stroke-width:3;
  }
  
  #plotArea {
    margin-right: 2em;
    margin-left: 2em;
  }
  
  nav>ul>li>a {
    cursor: pointer;
  }
  
  circle {
    stroke-width: 3;
  }
  
  #plot {
    display: none;
  }
  
  p {
   padding-top: 10px;
   margin-left: 5px;
  }

  header {
    background-color: #6489c1;
    background-image: linear-gradient(to bottom right, #1ca74db5, #002229d6);
    background-image: linear-gradient(to bottom right, #000000b5, #000401d6);
    color: #ffeaea;
  }